<div class="about-content">
    <div class="about header">
        <p class="font-top">
            about
        </p>
    </div>  

    <div class="about-info">
        <div class="about-text">
            <p>
                Hello!  My name is Iara Benz, and I recently graduated from Pforzheim with a Bachelor of Arts after studying visual communication. I love design and art, and hope to spread that love to others. Even when I'm not working, I love being creative through drawing and am always ready to learn something new.
                
                <br>
                <br>
                
                I'm well versed in the design essentials – Adobe Photoshop, InDesign, Illustrator, and XD. Whether it's creating visual concepts or user-friendly interfaces, these are my tools of choice to bring my creative ideas to life. Outside of these basics, I also have experience with most other Adobe Creative Cloud programs, Figma, Webflow and Blender. Coding is another discipline that fascinates me, and that I'm eager to pursue further. I've already gained experience with Angular, CSS, and HTML, and I'm always looking forward to expanding my coding horizons.
                
                <br>
                <br>
                
                This portfolio offers a glimpse into my work and serves as a visual chronicle of my growth and passion.

            </p>
        </div>
        
        <div class="image-container">
            <img class="about-image" src="assets/iara_benz.png" alt="" >
        </div>
    </div>

</div>