.font-top {
    font-size: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-align: left;
    height: max-content;
    align-items: left;
    align-content: left;
}

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-content: left;
}

.about-text {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    justify-content: left;
    align-items: left;
    font-size: 30px;
    width: 60%;
    height: 100px;
    padding: 0 4vw 0 0;
}

.image-container {
    width: 40%;
}

.about-info {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-content: left;
}

.about-content {
    padding: 2vh 2vw 2vh 2vw;
}

.about-image {
    width: 100%;
}

