<div class="about-content">
    <div class="about header">
        <p class="font-top">
            about
        </p>
    </div>  

    <div class="about-info">
        <div class="about-text">
            <p>
                hello! i'm iara benz, a design student currently studying visual communication in pforzheim. i love design and art, and hope to spread that love to others. in my free time i enjoy being creative and active as my main hobbies are drawing and bouldering.
    
                i'm well versed in the most common design programs, such as adobe photoshop, indesign, illustrator and xd. in addition to that i have experience in blender and basic programming.
            </p>
        </div>
        
        <div about-image>
            <img src="assets/iara_benz.png" alt="" width="70%">
        </div>
    </div>

</div>