<div class="contact-content">
    <div class="header">
        <p class="font-top">
            contact
        </p>
    </div>  

    <div class="contact-info">
        <div class="contact-text">
            <h1>
                
            </h1>
            <p>
                If my portfolio interests you please feel free to contact me via E-Mail:
                <br>
                <br>
                <a href= "mailto:iara.benz@hotmail.com" class="mail">E-mail me</a>
                <br>
                <br>
                or linkedin:
                <br>
                <br>
                <a href= "https://www.linkedin.com/in/iara-benz-8124ba166/" class="mail">my linkedin</a>
                <br>
                <br>
                and feel free to check out my games:
                <br>
                <br>
                <a href= "https://b-iara.itch.io/" class="mail">my games</a>
                <br>
                <br>
                and check out how i built this website using angular, html & css:
                <br>
                <br>
                <a href= "https://github.com/beeeepbooop/Portfolio-Iara-Benz" class="mail">my github</a>
            </p>
        </div>
        <div class="kreis">
            <img class="rotate" src="assets/Kreis_contact.svg" alt="">
        </div>
    </div>

</div>