.work-container {
    height: 100dvh;
    max-height: 100dvh;
    overflow-y: scroll;
}
.font-top {
    font-size: 11dvh;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-align: left;
    height: max-content;
    color: rgb(35, 77, 161);
}

.work-content {
    padding: 0 0 0vh 0;
    max-width: 100dvw;
}

.work {
    padding: 2vh 2vw 0 2vw;
}

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-items: baseline;   
    align-content: baseline;
    max-width: 100dvw;
}
.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .image-viewer {
    height: 20dvh;
    max-height: 20dvh;
} */

.project-text {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    justify-content: left;
    align-items: left;
    align-items: center;
    width: 22dvw;
    font-size: 2dvh;
}

p {
    font: 600;
    width: 21dvw;
    padding: 0 2vw 0 0;
    align-self: center;

}

h1 {
    position: relative;
    font-size: 8.6dvh;
    width: 35dvw;
    transform: translateY(-10px);
    z-index: 500;
    line-height: 1.2;
    overflow: visible;
}

h2 {
    position: relative;
    font-size: 8.6dvh;
    width: 25dvw;
    transform: translateY(-10px);
    z-index: 500;
    line-height: 1.2;
    overflow: visible;
    color: rgb(35, 77, 161);
    mix-blend-mode: multiply;
    pointer-events: none;
}

.project-images {
    padding: 0 2vw 0 2vw ;
    transform: translateX(-200px);
}

hr.line {
    border: 1px solid #000000;
    margin: 3vh 1vw 3vh 1vw;
}

.project_images_scroll {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-items: baseline;   
    align-content: baseline;
    padding: 1.5dvh;
/*     transform: translateX(-150px);
    min-width: 72 dvw; */
}

.project_images_scroll_bar {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-items: baseline;   
    align-content: baseline;
    padding: 1.5dvh;
    overflow-y: hidden; /* Hide vertical scrollbar */
/*     transform: translateX(-150px);
    min-width: 72 dvw; */
}

.project_images_scroll::-webkit-scrollbar {
    display: none;
}

.project_images_scroll_bar::-webkit-scrollbar {
    height: 1dvh;
}

/* Track */
.project_images_scroll_bar::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #dbdce2; 
}
 
/* Handle */
.project_images_scroll_bar::-webkit-scrollbar-thumb {
    background-color: #8e96cb; 
    border-radius: 10px;
}

/* Handle on hover */
.project_images_scroll_bar::-webkit-scrollbar-thumb:hover {
    background: rgb(35, 77, 161);;
}

.side-scroll-image {
    padding: 1dvw;
    height: 70dvh;
}

.video  {
    height: 70dvh;    padding: 1.5dvh;
    padding: 2dvw;
    overflow-y: hidden;
}

.video::-webkit-scrollbar {
    display: none;
}

.side-scroll-image:hover {
    scale: 1.05;
}

  .uppercase {
    text-transform: none;
  }

  .hyf_b {
    background-color:  rgb(35, 77, 161);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2dvh;
    transition-duration: 0.4s;
    border-radius: 25px;
  }

  .hyf_b:hover {
    background-color: #8e96cb; 
  }

  .gg_b {
    background-color:  rgb(35, 77, 161);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2dvh;
    transition-duration: 0.4s;
    border-radius: 25px;
  }

  .gg_b:hover {
    background-color: #8e96cb; 
  }
