.font-top {
    font-size: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-align: left;
}

.work{
    padding: 2vh 2vw 0 2vw;
}

.header {
    display: flex;
    flex-direction: row;
    position:relative;
    justify-content: left;
    align-items: left;
    align-items: baseline;
    padding: 2vh 0 0 2vw;
}
.projects {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.project-text {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    justify-content: left;
    align-items: left;
    align-items: baseline;
}

p {
    font-size: 18 px;
    width: 350px;
    padding: 0 2vw 0 0;
    align-self: bottom;
}

h1 {
    font-size: 80px;
    width: 550px;
}

hr.line {
    border: 1px solid black;
    margin: 2vh 2vw 2vh 2vw;
}

.project-images {
    padding: 0 2vw 0 2vw ;
}