.font-top {
    font-size: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-align: left;
    height: max-content;
}

.work-content {
    padding: 0 0 2vh 0;
    max-width: 100dvw;
}

.work {
    padding: 2vh 2vw 0 2vw;
}

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-items: baseline;   
    align-content: baseline;
    max-width: 100dvw;
}
.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-text {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    justify-content: left;
    align-items: left;
    align-items: center;
    width: 450px;
    font-size: large;
/*     color: #d81a3d; */
}

p {
    font: 600;
    width: 400px;
    padding: 0 2vw 0 0;
    align-self: center;

}

h1 {
    position: relative;
    font-size: 80px;
    width: 650px;
    transform: translateY(-10px);
    z-index: 500;
    line-height: 1.2;
    overflow: visible;

}

.project-images {
    padding: 0 2vw 0 2vw ;
    transform: translateX(-200px);
}

hr.line {
    border: 1px solid black;
    margin: 3vh 1vw 3vh 1vw;
}

.project_images_scroll {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-items: baseline;   
    align-content: baseline;
    padding: 1.5dvh;
/*     transform: translateX(-150px);
    min-width: 72 dvw; */
}

.project_images_scroll_bar {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-items: baseline;   
    align-content: baseline;
    padding: 1.5dvh;
    overflow-y: hidden; /* Hide vertical scrollbar */
/*     transform: translateX(-150px);
    min-width: 72 dvw; */
}

.project_images_scroll::-webkit-scrollbar {
    display: none;
}

.project_images_scroll_bar::-webkit-scrollbar {
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #8a8a8a;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fbfbfb; 
}

.side-scroll-image {
    padding: 1dvw;
    height: 650px;
}

.video  {
    padding: 1dvw;
    height: 800px;
}

.side-scroll-image:hover {
    scale: 1.05;
}

.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: rgb(72, 6, 17);
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }

  

  