<div class="work header">
    <p class="font-top">
        work
    </p>
<!--     <img src="assets/Character-01.svg" alt="" width="10%">
    <img src="assets/Character-02.svg" alt="" width="10%"> -->
</div>  

<div class="work-content">
    
<hr class="line">

<!-- bachelorarbeit -->
<div class="work projects">
    
    <div class="project-text">
        <h1>
            bachelor: 
            <br>
            was wir 
            <br>
            nicht sehen
        </h1>
        
        <p>
            Mental illnesses can be hidden, complex, and uncomfortable.  However, in order to break stigmas and create a positive world, 
            it is vital to face them head-on. This led to "Was wir nicht sehen" (transl. what we don't see), a concept for a video 
            game that was designed as part of my bachelor's thesis. It tackles the topic of depression by letting players step into the 
            mind of a person with depression. The players guide the character through her negative feelings and help her in 
            overcoming her struggles. This game playfully addresses the importance of mental health and its acceptance.        
        </p>
    </div>
    
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_1.webp" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_2.webp" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_3.webp" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_4.webp" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_5.webp" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_6.webp" alt="" >        
    </div>

</div>

<hr class="line">

<!-- digitale medien -->
<div class="work projects">
    
    <div class="project-text">
        <h1>ui/ux design: bodily</h1>
        <p>

            "Bodily" is an app concept that aims to solve the problems of online shopping. This app aims to revolutionize 
            the online shopping industry by making it smarter, simpler, and more sustainable. Through the use of Body-IDs consumers 
            can instantly know whether an item of clothing from third-party retailers will fit themselves and their friends, thus 
            avoiding the environmentally damaging and time-consuming process of often returning ill-fitting clothing. The app 
            design is defined by simple shapes and vibrant characters, creating a user-friendly interface and brand.        
        </p>
    </div>
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/UI_Screen_1.webp" alt="" >
        <img class="side-scroll-image" src="assets/UI_Plakat.webp" alt="" >
        <img class="side-scroll-image" src="assets/UI_Screen_2.webp" alt="" >
    </div>

</div>

<hr class="line">

<!-- das kleinste von allem -->
<div class="work projects">
    
    <div class="project-text">
        <h1>illustration: 
            <br>
            das kleinste 
            <br>
            von allem
        </h1>
        
        <p>

            „Das Kleinste von Allem“ (transl. The Smallest of Everything) is a lighthearted children's book about a tiny spider who 
            begins a journey into the vast world around itself in search of anything that is even smaller than itself. In the short 
            book, the spider overcomes new challenges, allowing itself to gain more confidence and new perspectives. This story book should 
            encourage its young readers to be brave, choose their own path and enjoy their differences. The book design is simple and 
            effective through the use of adorable characters and its limited color scheme. Also, the hand-lettered text is easy to read 
            by young children.
        </p>
    </div>
    
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Das_kleinste.webp" alt="" >

<!--    <div class="side-scroll-image">
            <app-image-viewer [imageSources]="kleinsteImages"/>
       </div> -->

        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_1.webp" alt="" >
        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_2.webp" alt="" >
        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_3.webp" alt="" >
        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_4.webp" alt="" >
        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_5.webp" alt="" >        
    </div>

</div>

<hr class="line">

<!-- animation -->
<div class="work projects">
    
    <div class="project-text">
        <h1>
            animation: 
            
            bun's <br>adventures</h1>
        <p>
            "Bun's Adventures!" is a concept for an animated children's show about the little adventurous bunny "Bun", who is always up 
            to new and exciting antics with his friends. Shown here is a hand-animated intro scene for the show, that gives viewers insights 
            into Bun's life and the show. In order to not be too visually stimulating for its young viewers, the show has been deliberately
             kept simple, with easily recognizable characters, limited colors and the use of empty space.
        </p>
    </div>
    <div class="project_images_scroll"  >
        <video controls class="video" src="assets/Buns_Adventures.mp4"></video>
    </div>

</div>

<hr class="line">

<!-- Zeichnung -->
<!-- <div class="work projects">
    
    <div class="project-text">
        <h1>risograph zine: (t)raum</h1>
        <p>
            In the process of exploring paths between remembered, invented and existing spaces through drawings, this short risograph zine was created. In this entirely handmade zine the surreal landscapes and experiences of our dreams were examined and documented. The short booklet depicts a typical morning routine with not so typical absurdities in the form of two-colored illustrations. 

        </p>
    </div>
    <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/Traum_Seite_01.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_02.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_03.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_04.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_05.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_06.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_07.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_08.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_09.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_10.webp" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_11.webp" alt="" >
    </div>

</div> 

<hr class="line">
-->


<!-- Zeichnung -->
<div class="work projects">
    
    <div class="project-text">
        <h1>risograph 
            <br>
            zine: (t)raum</h1>
        <p>
            In the process of exploring paths between remembered, invented and existing spaces through drawings, this short risograph zine 
            was created. In this entirely handmade zine, the surreal landscapes and experiences of our dreams were examined and documented. 
            The short booklet depicts a typical morning routine with not so typical absurdities in the form of two-colored illustrations. 

        </p>
    </div>
<!--     <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Zeichnung_Schnecken.webp" alt="" width="50%" > -->
       <app-image-viewer class="image-viewer" [imageSources]="risoImages" [ngStyle]="{'height':'80dvh', 'max-height':'80dvh'}"/>
<!-- </div> -->

</div>


<hr class="line">

<!-- help your friend -->
<div class="work projects">
    
    <div class="project-text">
        <h1>game design: help your 
            <br>
            friend </h1>
        <p>
            This short point & click adventure mini-game was illustrated, written and programmed by me with the use of Ren'Py, a python based 
            game engine. Throughout this lighthearted game, the player can interact with their surroundings and game's main character, 
            allowing them to gain new insights in their friend's life and help her recover her lost earring. 
            
            <br>
            <br>

            <a href="https://b-iara.itch.io/help-your-friend" class="hyf_b" >
                try the game
            </a>
   
        </p>
    </div>

    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/HYF_Screenshot_Game.webp" alt="" >
        <img class="side-scroll-image" src="assets/HYF_Endbild.webp" alt="" >
        <img class="side-scroll-image" src="assets/HYF_Screenshot_Start.webp" alt="" >
    </div>

</div>
<!--     <iframe frameborder="0" src="https://itch.io/embed/1782442?bg_color=e1e4f3&amp;fg_color=000000&amp;link_color=6060a6&amp;border_color=b8bfc5" width="208" height="167"><a href="https://b-iara.itch.io/help-your-friend">Help your friend!! by b-iara</a></iframe>    </div>
 -->


<hr class="line">

<!-- ghost game -->
<div class="work projects">
    
    <div class="project-text">
        <h1>game design: short ghost
            <br>
            game</h1>
        <p>
            Help a lost ghost safely find its way back home while eluding various obstacles, in this short jump & run style game. This short mini-game was both illustrated and programmed by me using p5.js. 

            <br>
            <br>
            
            <a href="https://b-iara.itch.io/short-ghost-game" class="gg_b" >
                try the game
            </a>   
        </p>

    
    </div>
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Ghost_szene_lang.webp" alt="">
        <img class="side-scroll-image" src="assets/Ghost_Ende.gif" alt="">
    </div>

</div>

<!-- <iframe frameborder="0" src="https://itch.io/embed/925213?bg_color=50145a&amp;fg_color=f5eaea&amp;link_color=fab75b&amp;border_color=694562" width="208" height="167"><a href="https://b-iara.itch.io/short-ghost-game">Short Ghost Game by b-iara</a></iframe>
 -->

<hr class="line">

<!-- WT -->
<div class="work projects">
    
    <div class="project-text">
        <h1>ad design: 
            <br>
            100th anniversary</h1>
        <p class="uppercase">
            for their 100th anniversary, the shoe company LOWA was looking for a new ad campaign. this potential concept was 
            created to celebrate the longstanding company and  the memories that their loyal customers had with their shoes. this  
            design mixes the impression such memories can make with the actual shoe imprints in order to create a new, striking ad campaign.        </p>
    

    </div>

    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/LOWA_Plakate.webp" alt="" >
        <img class="side-scroll-image" src="assets/LOWA_Schuhkarton.webp" alt="" >
        <img class="side-scroll-image" src="assets/LOWA_Tshirt.webp" alt="" >

    </div>

</div>

<hr class="line">

<!-- KiR -->
<div class="work projects">
    
    <div class="project-text">
        <h1>interior 
            <br>
            design: drees 
            <br>
            & sommer</h1>
        <p>
            In the scope of a student competition, me and my two teammates, were tasked with creating a communicative design for the 
            new Drees & Sommer building, that appeals both to the daily workers and guests. We focused on presenting 
            the mission statements of the company through the use of interactive columns, innovative light and appealing typography. 
            Our design ultimately won third place in the competition.
        </p>
    </div>

    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Aussen.webp" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Dreesen_Innen.webp" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Foyer_Innen.webp" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Obergeschoss.webp" alt="" >
    </div>
</div>

<hr class="line">

<!-- Corporate Design -->
<div class="work projects">
    
    <div class="project-text">
        <h1>
             corporate <br> design: höfen 
             <br>
             an 
             der enz
        </h1>
        
        <p>
            The local municipality of “Höfen an der Enz”, in the black forest, was searching for a brand-new identity 
            that would freshen up their public image and breathe new life into their tranquil community. In this concept, 
            all vital aspects of the area were simplified into colorful shapes and utilized alongside lively typography and 
            playful photography in order to bring a more fun, youthful and family-oriented flair to this small town.
        </p>
    </div>
<!--     <div class="project-images">
        <img src="assets/Comp_CD.webp" alt="" width="120%">
    </div> -->
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/CD_Briefbögen.webp" alt="" >
        <img class="side-scroll-image" src="assets/CD_Fahne.webp" alt="" >
        <img class="side-scroll-image" src="assets/CD_Malbuch.gif" alt="" >
        <img class="side-scroll-image" src="assets/CD_Visitenkarte.webp" alt="" >
        <img class="side-scroll-image" src="assets/CD_Ortschild.gif" alt="" >
        <img class="side-scroll-image" src="assets/CD_Wegweiser.webp" alt="" >
        <img class="side-scroll-image" src="assets/CF_Familie.webp" alt="" >
        <img class="side-scroll-image" src="assets/CF_Sitzbank.webp" alt="" >
        <img class="side-scroll-image" src="assets/CF_Spaziergang.webp" alt="" >
    </div>


</div>

<hr class="line">

<!-- bild und text -->
<div class="work projects">
    
    <div class="project-text">
        <h2>magazine design: verschwinden</h2>
        <p>
            In this experimental magazine, images and texts become intertwined and form new meanings. 
            With this abstract form of story-telling, the concept of “Verschwinden” (transl. disappearing) is analyzed and 
            documented through the use of exploratory typography and photography.
        </p>
    </div>
    <app-image-viewer [imageSources]="verschwindenImages" [ngStyle]="{'height':'80dvh', 'max-height':'80dvh'}"/>

</div>

<hr class="line">

<!-- typografie -->
<div class="work projects">
    
    <div class="project-text">
        <h2>magazine & 
            <br>
            font design: virus</h2>
        <p>
            Using my self-made monotype font "Virus", this magazine visualizes an experimental exploration 
            of computer viruses through distorted typography and composition. The magazine itself depicts 
            what it means to have been ravaged by an unknown and invisible computer virus, as shown through 
            the severe distortions and eligibility of the pages and texts. 
        </p>
    </div>
<!--     <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/Typo_Szene.webp" alt="" >
    </div> -->

    <app-image-viewer [imageSources]="typoImages" [ngStyle]="{'height':'80dvh', 'max-height':'80dvh'}"/>

</div>

<hr class="line">

<!-- self portraits -->
<div class="work projects">
    
    <div class="project-text">
        <h1>visual arts: 
            <br>
            self-portraits‍
        </h1>
        <p>
            This is a small selection of self-portraits from 2020-2023 that analyze the self on a visual level through a variety of different mediums.
        </p>
    </div>
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Portrait1.webp" alt="" >
        <img class="side-scroll-image" src="assets/Portrait2.webp" alt="" >
        <img class="side-scroll-image" src="assets/Portrait3.webp" alt="" >
        <img class="side-scroll-image" src="assets/Portrait4.webp" alt="" >
        <img class="side-scroll-image" src="assets/Portrait5.webp" alt="" >

        
    </div>

</div>


</div>