<div class="work header">
    <p class="font-top">
        work
    </p>
<!--     <img src="assets/Character-01.svg" alt="" width="10%">
    <img src="assets/Character-02.svg" alt="" width="10%"> -->
</div>  

<div class="work-content">
    
<hr class="line">

<!-- bachelorarbeit -->
<div class="work projects">
    
    <div class="project-text">
        <h1>
            bachelor/game design: was wir nicht sehen
        </h1>
        
        <p>
            Mental illnesses can be invisible, complicated and sometimes uncomfortable. 
            However, in order to reduce stigmas and create a positive world for anyone 
            impacted, it is important to critically confront oneself with them. In light 
            of this, the video game "Was wir nicht sehen" (transl. what we don't see) was 
            designed as part of my bachelor's thesis to address the issue of depression in 
            both a sensitive and respectful way. Throughout the game, players experience 
            the life of the main character, Mia, who unknowingly suffers from depression. 
            Players can help her process her feelings, seek help, and reflect on her actions. 
            By presenting problems and knowledge about mental health in a playful way, the 
            game aims to reduce prejudices and promote an open approach to the topic. The 
            game offers an interactive and personalized experience where game decisions 
            directly influence the course and ending of the story. "Was wir nicht sehen"
            aims to raise awareness, promote understanding, and have an overall positive
            impact for people with depression. Through the use of personified characters 
            and engaging colors the game is kept light-hearted and upbeat enough to draw 
            players in without glossing over the impactful themes of the story.
        </p>
    </div>
    
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_1.png" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_2.png" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_3.png" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_4.png" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_5.png" alt="" >
        <img class="side-scroll-image" src="assets/Iara_Benz_Bilder_6.png" alt="" >        
    </div>

</div>

<hr class="line">

<!-- digitale medien -->
<div class="work projects">
    
    <div class="project-text">
        <h1>ui/ux design: "bodily"</h1>
        <p>
            "Bodily" is a concept for an app that identifies the problems that come with online shopping and offers an easy and yet multifaceted solution. This app aims to revolutionize the online shopping industry by making it smarter, simpler, and more sustainable. Through the use of Body-ID‘s consumers can instantly know whether an item of clothing from third-party online sellers will fit themselves and their selected friends, thus avoiding the time consuming and environmentally damaging process of constantly returning any ill-fitting clothing. The design of the app is characterized by simple shapes and vibrant characters, creating an inviting and user-friendly interface and brand.
        </p>
    </div>
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/UI_Screen_1.png" alt="" >
        <img class="side-scroll-image" src="assets/UI_Plakat.jpg" alt="" >
        <img class="side-scroll-image" src="assets/UI_Screen_2.png" alt="" >
    </div>

</div>

<hr class="line">

<!-- das kleinste von allem -->
<div class="work projects">
    
    <div class="project-text">
        <h1>illustration: 
            <br>
            das kleinste 
            <br>
            von allem
        </h1>
        
        <p>
            Das Kleinste von Allem“ ist ein Kinderbuch über
            eine kleine Spinne, die sich auf den Weg in die
            weite Welt macht, auf der Suche nach etwas, das
            noch kleiner ist als sie selbst. Dieses Buch soll junge
            Kinder ermutigen, Mut zu fassen und ihren eigenen
            Weg zu bestimmen.
        </p>
    </div>
    
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Das_kleinste.png" alt="" >

<!--    <div class="side-scroll-image">
            <app-image-viewer [imageSources]="kleinsteImages"/>
       </div> -->

        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_1.png" alt="" >
        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_2.png" alt="" >
        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_3.png" alt="" >
        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_4.png" alt="" >
        <img class="side-scroll-image" src="assets/Das_kleinste_Mockup_5.png" alt="" >        
    </div>

</div>

<hr class="line">

<!-- animation -->
<div class="work projects">
    
    <div class="project-text">
        <h1>animation: "bun's adventures"</h1>
        <p>
            "Bun's Adventures!" is a concept for an animated children's show about the adventurous little bunny "Bun", who is always up to new and exciting antics with his friends. Shown here is a hand-animated intro scene for the show, that gives viewers insights into Bun's life and the show. In order to not be too visually stimulating for its young viewers the show has been deliberately kept simple, with easily recognizable characters, limited colors and the use of empty space.
        </p>
    </div>
    <div class="project_images_scroll" ngxConveyer>
        <video class="video" src="assets/Buns_Adventures.mp4"></video>
    </div>

</div>

<hr class="line">

<!-- Zeichnung -->
<!-- <div class="work projects">
    
    <div class="project-text">
        <h1>risograph zine: (t)raum</h1>
        <p>
            In the process of exploring paths between remembered, invented and existing spaces through drawings, this short risograph zine was created. In this entirely handmade zine the surreal landscapes and experiences of our dreams were examined and documented. The short booklet depicts a typical morning routine with not so typical absurdities in the form of two-colored illustrations. 

        </p>
    </div>
    <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/Traum_Seite_01.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_02.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_03.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_04.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_05.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_06.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_07.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_08.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_09.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_10.png" alt="" >
        <img class="side-scroll-image" src="assets/Traum_Seite_11.png" alt="" >
    </div>

</div> 

<hr class="line">
-->


<!-- Zeichnung -->
<div class="work projects">
    
    <div class="project-text">
        <h1>risograph zine: (t)raum</h1>
        <p>
            In the process of exploring paths between remembered, invented and existing spaces through drawings, this short risograph zine was created. In this entirely handmade zine the surreal landscapes and experiences of our dreams were examined and documented. The short booklet depicts a typical morning routine with not so typical absurdities in the form of two-colored illustrations. 

        </p>
    </div>
<!--     <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Zeichnung_Schnecken.png" alt="" width="50%" > -->
       <app-image-viewer [imageSources]="risoImages"/>
<!-- </div> -->

</div>


<hr class="line">

<!-- help your friend -->
<div class="work projects">
    
    <div class="project-text">
        <h1>game design: "help your friend" </h1>
        <p>
            This short point & click adventure mini-game was illustrated, written and programmed by me with the use of Ren'Py, a python based game engine. Throughout this lighthearted game the player can interact with their immediate surroundings and game characters, allowing them to gain new insights in their friends life and help her recover her lost earring. The actions of the player also impact their relationship with the game's character and thus can lead to separate game endings. 
            ‍
            <br>
            <br>

            Click the link below to try the game.     
        </p>

        <iframe frameborder="0" src="https://itch.io/embed/1782442?linkback=true&amp;bg_color=e8eff5&amp;fg_color=4f367b&amp;link_color=6872B0&amp;border_color=b8bfc5" width="510" height="167"><a href="https://ai-chan.itch.io/help-your-friend">Help your friend!! by Ai-chan</a></iframe>
    </div>
    <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- ghost game -->
<div class="work projects">
    
    <div class="project-text">
        <h1>game design: "short ghost game"</h1>
        <p>
            Help a lost ghost safely find its way back home while eluding various obstacles, in this short jump & run style game. This short mini-game was both illustrated and programmed by me using p5.js. 
            ‍
            <br>
            <br>

            Click the link below to try the game.
   
        </p>
        <iframe frameborder="0" src="https://itch.io/embed/925213?bg_color=3f1b38&amp;fg_color=f5eaea&amp;link_color=fab75b&amp;border_color=694562" width="510" height="167"><a href="https://ai-chan.itch.io/short-ghost-game">Short Ghost Game by Ai-chan</a></iframe>

    </div>
    <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- KiR -->
<div class="work projects">
    
    <div class="project-text">
        <h1>interior design: drees & sommer</h1>
        <p>
            In the scope of a student competition, me and my two teammates, were tasked with creating a communicative design for the new Drees & Sommer building, that appeals both to the daily workers and guests. In our approach we focused on presenting the mission statements of the company through the use of interactive columns, innovative light and appealing typography. Our design ultimately won third place in the competition.
        </p>
    </div>

    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Aussen.png" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Dreesen_Innen.png" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Foyer_Innen.png" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Obergeschoss.png" alt="" >
    </div>
</div>

<hr class="line">

<!-- Corporate Design -->
<div class="work projects">
    
    <div class="project-text">
        <h1>
             corporate design: höfen 
             <br>
             an der enz
        </h1>
        
        <p>
            The local municipality of “Höfen an der Enz”, in the black forest, was searching for a brand new identity 
            that would freshen up their public image and breathe new life into their tranquil community. In this concept, 
            all significant aspects of the area were simplified into colorful shapes and utilized alongside lively typography and 
            playful photography in order to bring a more fun, youthful and family-oriented flair to this small town.
        </p>
    </div>
<!--     <div class="project-images">
        <img src="assets/Comp_CD.png" alt="" width="120%">
    </div> -->
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/CD_Briefbögen.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CD_Fahne.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CD_Malbuch.gif" alt="" >
        <img class="side-scroll-image" src="assets/CD_Visitenkarte.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CD_Ortschild.gif" alt="" >
        <img class="side-scroll-image" src="assets/CD_Wegweiser.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CF_Familie.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CF_Sitzbank.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CF_Spaziergang.jpg" alt="" >
    </div>


</div>

<hr class="line">

<!-- bild und text -->
<div class="work projects">
    
    <div class="project-text">
        <h1>magazine design: "verschwinden"</h1>
        <p>
            In this experimental magazine images and texts become intertwined and form new meanings. 
            With this abstract form of storytelling, the emotional concept of “Verschwinden” (transl. disappearing) is analyzed and documented through the use of exploratory typography and photography.
        </p>
    </div>
    <div>
        <app-image-viewer [imageSources]="verschwindenImages"/>
    </div>

</div>

<hr class="line">

<!-- typografie -->
<div class="work projects">
    
    <div class="project-text">
        <h1>magazine & font design: "virus"</h1>
        <p>
            Using my selfmade monotype font "Virus", this magazine visualizes an experimental exploration 
            of computer viruses through distorted typography and composition. The magazine itself depicts 
            what it means to have been ravaged by an unknown and invisible computer virus, as shown through 
            the severe distortions and eligibility of the pages and texts. 
        </p>
    </div>
<!--     <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/Typo_Szene.jpg" alt="" >
    </div> -->

    <div>
        <app-image-viewer [imageSources]="typoImages"/>
    </div>

</div>

<hr class="line">

<!-- self portraits -->
<div class="work projects">
    
    <div class="project-text">
        <h1>visual arts: self-portraits‍
        </h1>
        <p>
            This is a small selection of self-portraits from 2020-2023 that analyze the self on a visual level through a variety of different mediums.
        </p>
    </div>
    <div class="project_images_scroll_bar" ngxConveyer>
        <img class="side-scroll-image" src="assets/Portrait1.jpg" alt="" >
        <img class="side-scroll-image" src="assets/Portrait2.jpg" alt="" >
        <img class="side-scroll-image" src="assets/Portrait3.jpg" alt="" >
        <img class="side-scroll-image" src="assets/Portrait4.jpg" alt="" >
        <img class="side-scroll-image" src="assets/Portrait5.jpg" alt="" >

        
    </div>

</div>


</div>