<div class="work header">
    <p class="font-top">
        work
    </p>
<!--     <img src="assets/Character-01.svg" alt="" width="10%">
    <img src="assets/Character-02.svg" alt="" width="10%"> -->
</div>  

<div class="work-content">
    
<hr class="line">

<!-- digitale medien -->
<div class="work projects">
    
    <div class="project-text">
        <h1>ui/ux design: "bodily"</h1>
        <p>
            "bodily" is an app that is supposed to improve the online shopping experience by ensuring that clothing will fit the users. through simple shapes and colorful characters the app is designed to be inviting and friendly.
        </p>
    </div>
    <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/CD_Briefbögen.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CD_Briefbögen.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CD_Briefbögen.jpg" alt="" >
    </div>

</div>

<hr class="line">

<!-- das kleinste von allem -->
<div class="work projects">
    
    <div class="project-text">
        <h1>illustration: "das kleinste von allem"</h1>
        <p>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!we were tasked, as part of a student competition, with creating a communicative design that appeals both to the daily workers and guests of the company. in our approach we focused on presenting the mission statements of the company through interactive columns, light and typography. this design ultimately won third place in the competition.
        </p>
    </div>
    <div class="project-images">
        <img src="assets/Comp_Illu.png" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- animation -->
<div class="work projects">
    
    <div class="project-text">
        <h1>animation: "bun's adventures"</h1>
        <p>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!we were tasked, as part of a student competition, with creating a communicative design that appeals both to the daily workers and guests of the company. in our approach we focused on presenting the mission statements of the company through interactive columns, light and typography. this design ultimately won third place in the competition.
        </p>
    </div>
    <div class="project-images">
        <img src="assets/" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- animation -->
<div class="work projects">
    
    <div class="project-text">
        <h1>risograph zine: (t)raum</h1>
        <p>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!we were tasked, as part of a student competition, with creating a communicative design that appeals both to the daily workers and guests of the company. in our approach we focused on presenting the mission statements of the company through interactive columns, light and typography. this design ultimately won third place in the competition.
        </p>
    </div>
    <div class="project-images">
        <img src="assets/" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- help your friend -->
<div class="work projects">
    
    <div class="project-text">
        <h1>game design: "help your friend" </h1>
        <p>
            this short point & click adventure mini-game was illustrated, written and programmed by me with the use of ren'py, a python based game engine. in this game you interact with the room around you in order to help your friend recover her lost earring.
        </p>

        <p>
            click the link below to try the game        
        </p>
        <iframe frameborder="0" src="https://itch.io/embed/1782442?linkback=true&amp;bg_color=e8eff5&amp;fg_color=4f367b&amp;link_color=6872B0&amp;border_color=b8bfc5" width="510" height="167"><a href="https://ai-chan.itch.io/help-your-friend">Help your friend!! by Ai-chan</a></iframe>
    </div>
    <div class="project-images">
        <img src="assets/" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- ghost game -->
<div class="work projects">
    
    <div class="project-text">
        <h1>game design: "short ghost game"</h1>
        <p>
            help a ghost safely find its way back home while eluding various obstacles, in this short jump & run style game. this short mini-game was both illustrated and programmed by me using p5.js. 
        </p>
        <p>
            click the link below to try the game        
        </p>
        <iframe frameborder="0" src="https://itch.io/embed/925213?bg_color=3f1b38&amp;fg_color=f5eaea&amp;link_color=fab75b&amp;border_color=694562" width="510" height="167"><a href="https://ai-chan.itch.io/short-ghost-game">Short Ghost Game by Ai-chan</a></iframe>

    </div>
    <div class="project-images">
        <img src="assets/" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- KiR -->
<div class="work projects">
    
    <div class="project-text">
        <h1>interior design: drees & sommer</h1>
        <p>we were tasked, as part of a student competition, with creating a communicative design that appeals both to the daily workers and guests of the company. in our approach we focused on presenting the mission statements of the company through interactive columns, light and typography. this design ultimately won third place in the competition.
        </p>
    </div>

    <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Aussen.png" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Dreesen_Innen.png" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Foyer_Innen.png" alt="" >
        <img class="side-scroll-image" src="assets/KiR_Ansicht_Obergeschoss.png" alt="" >
    </div>
</div>

<hr class="line">

<!-- Corporate Design -->
<div class="work projects">
    
    <div class="project-text">
        <h1>
             corporate design: höfen an der enz
        </h1>
        
        <p>the municipality of höfen an der enz,  in the northern black forest, received a brand new identity in this project. through the use of colorful shapes, all representing important parts of the area, lively typography and playful photography a youthful look is brought to this small town.
        </p>
    </div>
<!--     <div class="project-images">
        <img src="assets/Comp_CD.png" alt="" width="120%">
    </div> -->
    <div class="project_images_scroll" ngxConveyer>
        <img class="side-scroll-image" src="assets/CD_Briefbögen.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CD_Fahne.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CD_Malbuch.gif" alt="" >
        <img class="side-scroll-image" src="assets/CD_Visitenkarte.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CD_Ortschild.gif" alt="" >
        <img class="side-scroll-image" src="assets/CD_Wegweiser.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CF_Familie.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CF_Sitzbank.jpg" alt="" >
        <img class="side-scroll-image" src="assets/CF_Spaziergang.jpg" alt="" >
    </div>


</div>

<hr class="line">

<!-- bild und text -->
<div class="work projects">
    
    <div class="project-text">
        <h1>magazine design: "verschwinden"</h1>
        <p>
            images and texts enter into dialogue and play with meaning in this experimental magazine which mixes typography and photography. the concept of disappearing (verschwinden) was analysed visually in this abstract form of storytelling.
        </p>
    </div>
    <div class="project-images">
        <img src="assets/" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- typografie -->
<div class="work projects">
    
    <div class="project-text">
        <h1>magazine & font design: "virus"</h1>
        <p>
            using my own monotype font "Virus", this magazine encompasses an exploration of typography, composition and computer viruses. the concept behind this project was to design a magazine that appears to have been ravaged by an unknown virus, causing the distortions and eligibility of the pages.
        </p>
    </div>
    <div class="project-images">
        <img src="assets/Comp_Typo.png" alt="" width="120%">
    </div>

</div>

<hr class="line">

<!-- self portraits -->
<div class="work projects">
    
    <div class="project-text">
        <h1>visual arts: self-portraits‍
        </h1>
        <p>
            a small series of self-portraits from 2020-2023 that analyze the self on a visual level through a variety of different mediums.
        </p>
    </div>
    <div class="project-images">
        <img src="assets/Comp_Portraits.png" alt="" width="120%">
    </div>

</div>


</div>