.image-viewer-container {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1.78dvw;
    width: fit-content;

    height: 100%;
    max-height: 100dvh;
}

.image-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.display-image {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.image-change-btn {
    display: inline-block;
    border-radius: 50%;
    padding: 1em;
    backdrop-filter: blur(20px);
    background-color: rgba(208, 209, 230, 0.3);
/*     border: 1px solid rgba(255, 255, 255, 0.3); */    
}

.image-change-btn:hover {
/*     background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    cursor: pointer;
    background-color: #adafd149;
}

.btn-container {
    height: 100%;
    width: 0%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-prev {
    position: absolute;
    left: 1%;
    align-self: center;
    text-align: center;
    height: 1em;
    width: 1em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next {
    position: absolute;
    right: 1%;
    align-self: center;
    height: 1em;
    width: 1em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon-left {
    margin-right: 30%;
} 

.btn-icon-right {
    margin-left: 30%;
}
