.image-viewer-container {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 115em;
    max-width: 70dvw;
    max-height: 100dvh;
}

.image-container {
    width: 90%;
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.display-image {
    height: 100%;
    max-width: 100dvw;
    max-height: 100dvh;
}

.image-change-btn {
    display: inline-block;
    border-radius: 50%;
    padding: 1em;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.3);
/*     border: 1px solid rgba(255, 255, 255, 0.3); */    
}

.image-change-btn:hover {
/*     background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    cursor: pointer;
    background-color: #d2d1d149;
}

.btn-container {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-prev {
    position: absolute;
    left: 2%;
    align-self: center;
    text-align: center;
    height: 1em;
    width: 1em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next {
    position: absolute;
    right: 2%;
    align-self: center;
    height: 1em;
    width: 1em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon-left {
    margin-right: 25%;
} 

.btn-icon-right {
    margin-left: 25%;
}
