
.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font {
    font-size: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-top {
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
}

.content-container {
    background-color: bisque;
/*     color: blue; */
} 

