
html {
    overflow-x: clip;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-center {
    font-size: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
/*     color: #f5395b; */
}

.font-menu {
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
}

.content-container {
    background-color: #fdf5eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
    
.content-container::-webkit-scrollbar {
     display: none;
}
     
p {
    text-transform: lowercase;
}

h1 {
    text-transform: lowercase;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
