.content {
    overflow-y: clip !important;
    height: 100dvh;    
 }

.canvas {
    margin: -1vdw;
    overflow-y: hidden;
    overflow-x: hidden;
}

#fabricSurface {
  max-width: 100dvw;
  max-height: 100dvh;
  /* transform: translateY(-99dvh); */
}

.home {
    transform: translateY(-99dvh);
    height: 100dvh;
    max-height: 100dvh;
    pointer-events: none;
    mix-blend-mode: multiply;
}

.font-top {
    font-size: 200px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-align: left;
    height: max-content;
    align-items: left;
    align-content: left;
    padding: 0 1vw 2vh 2vw;
    color: rgb(35, 77, 161);
}

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    align-content: left;
}

.info {
    transform: translateY(200px);
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    justify-content: left;
    align-items: left;
    width: fit-content;

/*     font-size: 30px;
    width: 60%;
    height: 100px;
    padding: 0 4vw 0 0;   */
}

.font-bottom-l {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 95%;
    font-size: 100px;
    width: 60%;
    height: 80px;
    padding: 0 0 0 2dvw;     
    color: rgb(0, 0, 0);
}

.font-bottom-s {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 45px;
    width: max-content;
    height: 80px;
    padding: 4dvh 0 0 2dvw; 
    color: rgb(35, 77, 161);
}

.content::-webkit-scrollbar {
    display: none;
}
 

 html {
    overflow-y: clip !important;
    cursor: none;
  }
  
  .link {
    color: rgb(35, 77, 161);
    pointer-events: all;
  }

  a {
    position: relative;
    color: rgb(35, 77, 161);
    text-decoration: none;
  }

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -5%;
    left: 0;
    background-color: rgb(35, 77, 161);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom left;
  }
  
  a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .kreis {
    scale: 30%;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
/*     pointer-events: painted; */
  }

  .rotate {
        margin-top: -1450px;
        margin-right: -1700px;
        animation: rotation 35s infinite linear;
        /* margin-top: -150dvh; */
  }

/*   #invertedcursor {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgb(35, 77, 161);
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode:hard-light;
    transition: transform .2s;
    pointer-events: none;
  }

  .cursor {
    transform: translate();
  } */


  .move-info {
    display: flex;
    padding: -200dvh 0 -200dvh 0 ;
    padding-left: 4dvw;
    width: max-content;
    height: max-content;
    transform: translateY(-100px);
    pointer-events: all;
    position: absolute;
  }

  .disable {
    opacity: 0;
}

  .font-middle {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    width: max-content;
    height: max-content;
    color: rgb(35, 77, 161);
    pointer-events: all;
  }

  .arrow {
    padding-top: 3.7dvh;
    margin-left: -1dvw;
  }
