
<div class="welcome font-center content">
    <p>
        welcome to my portfolio
    </p>

</div>  

<div images>

</div>
<!-- 
<div class="container" (mousemove)="onMouseMove($event)">
    <img id="anchor" class="spinne" src="assets/Spinne.svg" alt="" width="30%">
    <img id="eyes" class="spinne eye left-eye"  src="assets/Spinne-Augen-01.svg" alt="" width="10%">
    <img id="eyes" class="spinne eye right-eye"  src="assets/Spinne-Augen-02.svg" alt="" width="10%">
  </div> -->
  
<!--   <div class="container" (mousemove)="onMouseMove($event)">
    <img id="anchor" class="spinne" src="assets/Spinne-Anchor.svg" alt="" width="30%">
    <img class="spinne" src="assets/Spinne.svg" alt="" width="30%">
    <img id="eyes" class="spinne eye left-eye" viewBox="0 0 100 100" src="assets/Spinne-Augen-Gross-01.svg" alt="" width="30%">
    <img id="eyes" class="spinne eye right-eye" viewBox="0 0 100 100" src="assets/Spinne-Augen-Gross-02.svg" alt="" width="30%">
  </div> -->
