<!-- <div class="cursor" id="invertedcursor"></div> -->
<div class="content">

  <div class="canvas">
    <canvas   id="fabricSurface"></canvas>
  </div>


  <div class="home">

    <div class="header">
      <p class="font-top">
          Iara Benz
      </p>
    </div>  

  <div class="move-info" *ngIf="showTutorial">
<!--     <p class="font-middle">
      Move around 
      <br>
      the images
    </p>
    <i class="fa  fa-angle-down fa-2x arrow" style="color: #1e30a1;"></i>
 -->
    <img class="move-image" src="assets/move_text.png" alt="">
  </div>
  <div class="move-info" *ngIf="!showTutorial"> <!-- replaces move info to fill space -->

  </div>

    <div class="info">
      <h2 class="font-bottom-l">
          design
          <br>
          portfolio
      </h2>
      <p class="font-bottom-s">
        <a href= "/work" class="link">check out my work!</a>
    </p>

    </div>  

    <div class="animation-container">
      <div class="kreis-container">
        <img class="kreis rotate" src="assets/Kreis.svg" alt="">
      </div>
    </div>
    
  </div>
  
</div>